%div.contents__group
  = link_to  edit_user_path(current_user) do
    %span.i.fa.fa-cog
  =link_to  new_group_path do
    %span.i.fa.fa-pencil-square-o
  %div.group__top
    -if user_signed_in?
      = current_user.name
  %div.group__bottom
    -if user_signed_in?
      -current_user.groups.each do |group|
        %a{href: "/groups/#{group.id}/messages",style: "text-decoration: none"}
          %div.bottom__chank
            %ul.group
              %li.group_name
                = group.name
              %li.message
                -if group.messages.present?
                  - message = group.messages.order('created_at DESC').find_by('id')
                  -if message.body.present?
                    = message.body
                  -elsif message.image.present?
                    画像が投稿されました。
                -else
                  新着メッセージはありません。
